orizuru_3d-node-red-flow.txt
[{"id":"928fa98f.465dd8","type":"websocket out","z":"72d0d153.16e7b","name":"","server":"904dc121.4b868","client":"","x":758,"y":205,"wires":[]},{"id":"ad3f287.01b62d8","type":"function","z":"72d0d153.16e7b","name":"Convert to Orizuru Data","func":"var output = {};\noutput.payload = {};\noutput.payload.t = msg.payload.t;\noutput.payload.data = {};\noutput.payload.data.pitch = msg.payload.data.temperature;\noutput.payload.data.roll = msg.payload.data.pressure;\noutput.payload.data.flap = msg.payload.data.vbat;\nmsg = output;\nreturn msg;\n","outputs":1,"noerr":0,"x":506,"y":206,"wires":[["928fa98f.465dd8"]]},{"id":"c243d990.8c3518","type":"lazurite-rx","z":"72d0d153.16e7b","channel":"96e77668.67f2d8","interval":"10","enbinterval":true,"latestpacket":true,"broadcastenb":true,"name":"","x":75,"y":207,"wires":[["7a3ea856.b9f988"]]},{"id":"7a3ea856.b9f988","type":"lazurite-node-config","z":"72d0d153.16e7b","name":"","mode":"LazuriteIoT","rules":[{"src":"0x0032","sensor":"07.env"}],"outputs":1,"x":257,"y":207,"wires":[["ad3f287.01b62d8"]]},{"id":"904dc121.4b868","type":"websocket-listener","z":"","path":"/ws/orizuru","wholemsg":"false"},{"id":"96e77668.67f2d8","type":"lazurite-channel","z":"","ch":"60","panid":"0xabcd","rate":"100","pwr":"20","defaultaddress":true,"myaddr":"0","key":""}]