orizuru_3d-node-red-flow.txt
[{"id":"d30ede07.07af4","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"9d5f1276.3fc88","type":"websocket out","z":"d30ede07.07af4","name":"","server":"7406b513.ebb62c","client":"","x":460,"y":260,"wires":[]},{"id":"b5863aa8.a4ec88","type":"function","z":"d30ede07.07af4","name":"Convert to Orizuru Data","func":"var output = {};\noutput.payload = {};\noutput.payload.t = msg.payload.t;\noutput.payload.data = {};\noutput.payload.data.pitch = msg.payload.data.temperature;\noutput.payload.data.roll = msg.payload.data.pressure;\noutput.payload.data.flap = msg.payload.data.vbat;\nmsg = output;\nreturn msg;\n","outputs":1,"noerr":0,"x":488,"y":181,"wires":[[]]},{"id":"3dab1f47.5162f","type":"lazurite-rx","z":"d30ede07.07af4","channel":"d05a148e.8ebee8","interval":"10","enbinterval":true,"latestpacket":true,"broadcastenb":true,"name":"","x":57,"y":182,"wires":[["2128d5b0.11114a"]]},{"id":"ec13142c.d52038","type":"lazurite-node-config","z":"d30ede07.07af4","name":"","mode":"LazuriteIoT","rules":[{"src":"0x0032","sensor":"07.env"}],"outputs":1,"x":239,"y":182,"wires":[["b5863aa8.a4ec88"]]},{"id":"2128d5b0.11114a","type":"function","z":"d30ede07.07af4","name":"","func":"var newMsg = {};\nvar data = msg.payload.split(\",\")\nnewMsg.t = parseInt(msg.sec*1000+msg.nsec/1000000);\nnewMsg.data = {\n    flap : parseInt(data[0])*-1,\n    pitch : parseFloat(data[1])+90,\n    roll : parseFloat(data[2]),\n}\nreturn {\n    payload: newMsg\n};","outputs":1,"noerr":0,"x":230,"y":260,"wires":[["4e115fb4.2428","9d5f1276.3fc88"]]},{"id":"4e115fb4.2428","type":"debug","z":"d30ede07.07af4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":360,"wires":[]},{"id":"7406b513.ebb62c","type":"websocket-listener","z":"","path":"/ws/orizuru","wholemsg":"false"},{"id":"d05a148e.8ebee8","type":"lazurite-channel","z":"","ch":"50","panid":"0x2017","rate":"100","pwr":"20","defaultaddress":true,"myaddr":"0","key":""}]
